<code class="gist" data-gist-id="af2117f9b3338bb46b49c9e4df093bc0" data-gist-line="2-4" style="display: block;">
    <div class="gist">
        <div class="gist-file">
            <div class="gist-data">
                <div class="js-gist-file-update-container js-task-list-container file-box">
                    <div id="file-test" class="file my-2">

                        <div itemprop="text" class="Box-body p-0 blob-wrapper data type-text  ">

                            <table class="highlight tab-size js-file-line-container" data-tab-size="8" data-paste-markdown-skip="">
                                <tbody>
                                <tr>
                                    <td id="file-test-L2" class="blob-num js-line-number" data-line-number="2"></td>
                                    <td id="file-test-LC2" class="blob-code blob-code-inner js-file-line">b</td>
                                </tr>
                                <tr>
                                    <td id="file-test-L3" class="blob-num js-line-number" data-line-number="3"></td>
                                    <td id="file-test-LC3" class="blob-code blob-code-inner js-file-line">c</td>
                                </tr>
                                <tr>
                                    <td id="file-test-L4" class="blob-num js-line-number" data-line-number="4"></td>
                                    <td id="file-test-LC4" class="blob-code blob-code-inner js-file-line">d</td>
                                </tr>
                                </tbody></table>


                        </div>

                    </div>
                </div>

            </div>
            <div class="gist-meta">
                <a href="https://gist.github.com/ialy1595/af2117f9b3338bb46b49c9e4df093bc0/raw/f55a88b1b285368669684178d0dbe47c773346dc/test" style="float:right">view raw</a>
                <a href="https://gist.github.com/ialy1595/af2117f9b3338bb46b49c9e4df093bc0#file-test">test</a>
                hosted with ❤ by <a href="https://github.com">GitHub</a>
            </div>
        </div>
    </div>
</code>
